{pre_hooks, [
    {'compile', "./pre-hooks-compile.sh"}
]}.

{post_hooks, [
    {'get-deps', "./post-hooks-get-deps.sh"},
    {'clean', "./post-hooks-clean.sh"}
]}.

{deps, [
    {snowcrash, ".*", {git, "git://github.com/apiaryio/snowcrash.git", {tag, "v0.6.66"}}, [raw]},
    {'api-blueprint', ".*", {git, "git://github.com/apiaryio/api-blueprint.git", {branch, "master"}}, [raw]}
]}.

{port_env, [
    {"CXXFLAGS", "$CXXFLAGS -mmacosx-version-min=10.5 -Ideps/snowcrash/src"},
    {"LDFLAGS", "$LDFLAGS -mmacosx-version-min=10.5 -Ldeps/snowcrash/build/out/Release -lsnowcrash -lsundown -lstdc++"}
]}.

{port_specs, [{"priv/raven.so",["c_src/*.cc"]}]}.
