{pre_hooks, [
    {'compile', "./pre-hooks-compile.sh"}
]}.

{post_hooks, [
    {'get-deps', "./post-hooks-get-deps.sh"},
    {'clean', "./post-hooks-clean.sh"}
]}.

{deps, [
    {snowcrash, "0.6.66", {git, "git://github.com/apiaryio/snowcrash.git", {tag, "v0.6.66"}}, [raw]}
]}.

{port_env, [
    {"CXXFLAGS", "$CXXFLAGS -mmacosx-version-min=10.5 -Ideps/snowcrash/src"},
    {"LDFLAGS", "$LDFLAGS -mmacosx-version-min=10.5 -Ldeps/snowcrash/build/out/Release -lsnowcrash -lsundown -lstdc++"}
]}.

{port_specs, [{"priv/raven.so",["c_src/*.cc"]}]}.

{erl_opts, [debug_info, {d, debug}]}.
{eunit_opts, [{report, {eunit_surefire, [{dir, ".eunit"}]}}]}.
{cover_enabled, true}.