{pre_hooks, [
    {'compile', "./pre-hooks-compile.sh"}
]}.

{post_hooks, [
    {'get-deps', "./post-hooks-get-deps.sh"},
    {'clean', "./post-hooks-clean.sh"}
]}.

{port_env, [
    {"DRV_CFLAGS", "$DRV_CFLAGS -Wall -Wextra -Ic_deps/snowcrash/src"},
    {"DRV_LDFLAGS", "$DRV_LDFLAGS -Lc_deps/snowcrash/build/out/Release -lsnowcrash -lsundown -lstdc++"},
    {"darwin", "DRV_CFLAGS", "$DRV_CFLAGS -mmacosx-version-min=10.5"},
    {"darwin", "DRV_LDFLAGS", "$DRV_LDFLAGS -mmacosx-version-min=10.5"}
]}.

{port_specs, [{"priv/raven.so", ["c_src/*.cc"]}]}.

{eunit_opts, [{report, {eunit_surefire, [{dir, "."}]}}]}.